.mainBox {
  box-sizing: border-box;
  background-color: hsl(246, 80%, 60%);
  border-radius: 20px;
  height: 70%;
  padding: 30px;
  color: white;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    padding: 15px;
  }
    
  .imgContainer {
    text-align: left;
    display: flex;
    align-content: center;
    margin: auto 0;
    width: 100%;

    @media (max-width: 1000px) {
      max-width: 30%;
      padding-right: 15px;
    }

    img {
      box-sizing: border-box;
      width: 70px;
      height: 70px;
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  .textContainer {
    margin: auto 0;
    
    p {
      display: block;
      text-align: left;
      margin: 10px 0 0 0;
      font-size: 14px;
      color: #aaaaaa;
  
      @media (max-width: 1000px) {
        font-size: 14px;
      }
    }
  
    h1 {
      margin: 0;
      text-align: left;
      font-size: 22;
      font-weight: 400;
  
      @media (max-width: 1000px) {
        font-size: 24px;
      }
    }
  }
}

.sideBox {
  padding: 0 30px;
  text-align: left;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  @media (max-width: 1000px) {
    justify-content: space-between;
  }

  a {
    display: block;
    text-decoration: none;
    margin: auto 0;
    width: 100%;
    color: #5257af;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;

    @media (max-width: 1000px) {
      width: 30%;
      text-align: center;
      font-size: 16px;
    }
  }

  a.active {
    color: white;
  }

  a:hover {
    color: white;
    cursor: pointer;
  }
}